#ie-container
{
	width:90%;
}
#ie-canvas
{
	width:90%;
}
#ie-toolbar-right
{
	position:relative;
	top:0;
	height:500px;
	width:50px;
	z-index:2;
	float:right;
	background-color:#333;
}
#ie-toolbar-bottom
{
	position:relative;
	
	bottom:0;
	height:75px;
	width:100%;
	margin:0 auto;
	background-color:#333;
} 
#ie-file-input
{
	visibility: hidden;
	padding:15px;
	margin:15px;
}
#ie-darker
{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
#ie-brighter
{
	background-color:white;
	color:#333;
}
.ie-icon
{
	margin-top:10px;
	width:20%;
	height:55px;
	float:left;
	color:white;
	font-size:20px;
	text-align:center;
	padding:5px;
	cursor:pointer;
}