.sys_msg
{
	width:400px;
	border:red 2px solid;
	background:#FABBBB;
	color:red;
}
.user_msg
{
	width:400px;
	border:green 2px solid;
	background:#74E770;
	color:green;
}
.top-bar
{
	width:100%;
	height:70px;
	background:#ccc;
	color:black;
}
.nav-button
{
	float:left;
	border-right:2px solid white;
	margin-left:5px;
}
.spacer
{
	width:100%;
	height:50px;
}
.post
{
	width:300px;
	border:2px solid black;
	position:relative;
	margin-top:10px;
}
.title
{
	font-weight:700;
	text-transform:uppercase;
}
.author_id
{
	margin-top:5px;
	width:150px;
}
.body
{
	margin-top: 20px;
	width:100%;
	height:500px;
}
.post_controls
{
	width:75px;
	top:0;
	right:14px;
	position:absolute;
}

#blah
{
	width:75px;
	height:75px;
	display:none;
}
.user_avatar
{
	width:75px;
	height:75px;
}
.note
{
	font-size:9px;
	color:red;
}
.profile_edit_section
{
	width:100%;
	border-top:2px solid black;
}
.dob
{
	width:30px;
}
.dob_year
{
	width:60px;
}

.post_preview
{
	width:100%;
	border-radius:5px;
	background-color:#f8f8f8;
	border:1px solid #e7e7e7;
	padding-top:10px;
	padding-bottom:10px;
	top:+10px;
	position:relative;
}
.search_params
{
	width:300px;
	background:#e7e7e7;
	border-radius:5px;
	margin:0 auto;
	padding-bottom:10px;
}
.user_actions
{
	position:absolute;
	right:0;
	top:0;
	width:100px;
}
.admin_image
{
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
}
.admin_image_row
{
	width:100%;
	background:#f8f8f8;
	border-color:#e7e7e7;
	border:1px solid;
	padding:10px;
	margin-top:5px;
	position:relative;
}
.unauthorized
{
	background-color:rgba(255,0,0,0.5);
}
.image_controls
{
	top:0;
	right:0;
	position:absolute;
	width:75px;
}
#big_search
{
	width:100%;
	height:50px;
	font-size:2.0em;
}
.big_submit
{
	margin:0 auto;
	display:block;
	position:relative;
	margin-top:10px;
	width:110px;
	padding:5px;
	height:75px;
	border-radius:5px;
	font-size:2.0em;
	background-color:#f8f8f8;
}