.navbar, .navbar ul li a, .navbar-brand, .dropdown-menu, .btn, .btn-default, button 
{
	background-color:#6666ff !important;
	color:#e7e7e7 !important;
	font-weight:700;
}
.navbar-default .navbar-nav > .active > a
	color:#6666ff !important;
	border-top:2px #6666ff solid !important;
	border-bottom:2px #6666ff solid !important;
	box-sizing:border-box !important;
	-o-box-sizing:border-box !important;
	-moz-box-sizing:border-box !important;
	-webkit-box-sizing:border-box !important;
	background-color:#e7e7e7 !important;
}
.container
{
	margin-top:20px;
}
.nav-mod
{
	z-index:3;
	position:fixed;
	top:0;
	left:0;
	width:100%;
}
.logout
{
	float:right !important;
}

#nav_search
{
	margin-top:10px;
}
.navbar-default .collapsed, .form-control, .big_submit:hover, button:hover
{
	color:#6666ff !important;
	background-color:#e7e7e7 !important;
}
.navbar-default .collapsed .icon-bar
{
	background-color:#6666ff;
}
.dropdown-menu > li > a:hover , .btn-default:hover
{
	background-color:#e7e7e7 !important;
	color:#6666ff !important;
}


.sys_msg
{
	width:400px;
	border:red 2px solid;
	background:#FABBBB;
	color:red;
}
.user_msg
{
	width:400px;
	border:green 2px solid;
	background:#74E770;
	color:green;
}
.top-bar
{
	width:100%;
	height:70px;
	background:#ccc;
	color:black;
}
.nav-button
{
	float:left;
	border-right:2px solid white;
	margin-left:5px;
}
.spacer
{
	width:100%;
	height:80px;
}
.post
{
	width:300px;
	border:2px solid black;
	position:relative;
	margin-top:10px;
}
.title
{
	font-weight:700;
	text-transform:uppercase;
}
.author_id
{
	margin-top:5px;
	width:150px;
}
.body
{
	margin-top: 20px;
	width:100%;
	height:500px;
}
.post_controls
{
	width:75px;
	top:0;
	right:14px;
	position:absolute;
}

#blah
{
	width:75px;
	height:75px;
	display:none;
}
.user_avatar
{
	width:75px;
	height:75px;
}
.user_avatar2
{
	height:25px;
	width:25px;
}
.note
{
	font-size:9px;
	color:red;
}
.profile_edit_section
{
	width:100%;
	border-top:2px solid black;
}
.dob
{
	width:30px;
}
.dob_year
{
	width:60px;
}

.post_preview
{
	width:100%;
	border-radius:5px;
	background-color:#f8f8f8;
	border:1px solid #e7e7e7;
	padding-top:10px;
	padding-bottom:10px;
	top:+10px;
	position:relative;
}
.search_params
{
	width:300px;
	background:#e7e7e7;
	border-radius:5px;
	margin:0 auto;
	padding-bottom:10px;
}
.user_actions
{
	position:absolute;
	right:0;
	top:0;
	width:100px;
}
.admin_image
{
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
}
.admin_image_row
{
	width:100%;
	background:#f8f8f8;
	border-color:#e7e7e7;
	border:1px solid;
	padding:10px;
	margin-top:5px;
	position:relative;
}
.unauthorized
{
	background-color:rgba(255,0,0,0.5);
}
.image_controls
{
	top:0;
	right:0;
	position:absolute;
	width:75px;
}
#big_search
{
	width:100%;
	height:50px;
	font-size:2.0em;
}
.big_submit
{
	margin:0 auto;
	display:block;
	position:relative;
	margin-top:10px;
	width:110px;
	padding:5px;
	height:75px;
	border-radius:5px;
	font-size:2.0em;
	background-color:#6666ff !important;
	color:#e7e7e7 !important;
	font-weight:700;
}
.album_manager
{
	width:100%;
	height:500px;
	border:1px solid blue;
}
.album_create
{
	width:100%;
	height:200px;
	border:1px solid red;
	text-align:center;
}

.album_plus
{
	font-size:60px;
	text-align:center;
}
.album_create:hover
{
	background-color:#CCC;
}
.album_modal
{
	width:100%;
	height:500px;
	border:1px solid #e7e7e7;
	background-color:#f8f8f8;
	display:none;
	position:relative;
	overflow-y:scroll;

}
.album_modal h1
{
	text-align:center;
}
.album_thumb
{
	text-align:center;
	height:200px;
	width:120px;
	float:left;
}
.album_thumb h3
{
	font-size:16px;
	text-transform:uppercase;
	text-decoration:underline;
}
.image_thumb
{
	width:100px;
	height:120px;
	position:relative;
	margin-top:10px;
	margin-left:10px;
	float:left;
	text-align:center;
}
._thumb
{
	width:100px;
	height:120px;
	position:relative;
	margin-top:10px;
	margin-left:10px;
	float:left;
	text-align:center;
}
.album_thumb .image_thumb
{
	margin:auto;
	position:relative;
	float:none;
}
.image_thumb img
{
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
}
.image_checkbox
{
	position:absolute;
	top:0;
	right:0;
	width:30px;
	height:30px;
}
.modal_button
{
	position:relative;
}
.album-options
{
	position:absolute; 
	display:block; 
	bottom:0; 
	right:15;
}
.image_details
{
	display:none;
	position:absolute;
	top:0;
	width:100%;
}
.image_details ul
{
	list-style-type:none;
	padding:0;
	margin:0;
	font-size:10;
	text-align:left;
}
.image_details_button
{
	display:none;
	z-index:-1;
}
.image_thumb:hover .image_details_button
{
	display:block;
	position:absolute;
	top:30px;
	left:15px;
}
.watermark
{
	max-width:100%;
}
.image_info
{
	text-align:left;
}
.image_info ul
{
	list-style-type:none;
	padding:0;
}

.admin_image_row ul
{
	float:right;
}
.edit_tags
{

}
.tags_input
{
	width:90%;
}
.focus_modal
{
	width:100%;
	border:1px solid #e7e7e7;
	position:relative;
	min-height:350px;
	padding:10px;
	transition:1s;
	-o-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	display:none;
	margin-bottom:20px;
	margin-top:20px;
}
.focus_details
{
	display:none;
	transition:.5s;
	-o-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	margin:0 auto;
}
.focus_details ul
{
	list-style-type:none;
}
.focus_details li
{
	margin-top:5px;
}
.focus_image
{
	width:100%;
	text-align:center;
}
.focus_image img
{
	display:inline-block;
	margin:0 auto;
	max-height:300px;

}
.focus_move
{
	margin-top:-300px;
}
.tag
{
	border-radius:5px;
	padding:5px;
	font-size:16px;
	background-color:#f8f8f8;
	border-color:#e7e7e7;
	border:1px solid;
	float:left;
}
.tag_holder
{
	z-index:-1;
}
.preview_thumb
{
	float:left;
	height:100px;
	width:150px;
	display:flex;
	align-items:center;
	justify-content: center;
	margin-top:10px;
}
.preview_thumb img
{
	max-width:100%;
}


/* CATEGORIES AREA */
.categories
{
	width:100%;
	border:1px solid black;
	margin-bottom:20px;
}
.categories ul
{
	display:inline;
	list-style:none;
}
.categories ul li
{
	display:inline;
	font-size:16px;
	font-weight:700;
	color:black;
	padding-left:10px;
	padding-right:10px;
}
.category
{
	border-radius:5px;
	color:#f8f8f8;
	background-color:black;
	font-size:16px;
	padding:5px;
	font-weight:700;
}
.store_tags
{

}
.relevance_button
{
	border:1px solid #e7e7e7;
	text-align:center;
	font-size:20px;
	color:white;
	background-color:black;
	border-radius:5px;
	width:20px;
	float:left;
}
.clear
{
	clear:both;
	float:none;
}
.close
{
	font-size:20px; 
	height:22px; 
	width:22px; 
	position:absolute; 
	top:0; 
	right:0;
	text-align:center;
}
.close:hover
{
	background:black;
	color:white;
}
#upload_price
{
	display:none;
}
.upload_preview_holder
{
	margin-top:50px;
}
.user_info_list li
{
	text-decoration:none;
	list-style-type:none;
}
.scroll_hide
{
	width:100%;
	overflow-x:hidden;
	overflow-y:hidden;
}
.hider_div
{
	width:30px;
	background-color:white;
	height:500px;
	position:absolute;
	right:0;
	top:0;
	z-index:2;
	border-left-color:#e7e7e7;
}
.tiny_link
{
	font-size:7px;

}
#focus_edit_name
{
	display:none;
}


/* SIDEBAR */
.left-sidebar
{
	width:150px;
	height:800px;
	border-right:2px solid black;
}
@media only screen and (max-width:900px){
	.sidebar
	{
		display:none;
	}
	.logout
	{
		float:left !important;
	}
}